{% extends "base.html" %}
{% block auth_content %}
<div class="row justify-content-center min-vh-100 align-items-center">
  <div class="col-12 col-sm-10 col-md-7 col-lg-5 col-xl-4">
    <div class="card shadow">
      <div class="card-body p-4">
        <h1 class="h4 mb-3">Reinitialiser le mot de passe</h1>
        <form method="post">
          {{ form.hidden_tag() }}
          <div class="mb-3">{{ form.new_password.label(class_='form-label') }}{{ form.new_password(class_='form-control') }}</div>
          <div class="mb-3">{{ form.confirm_password.label(class_='form-label') }}{{ form.confirm_password(class_='form-control') }}</div>
          {{ form.submit(class_='btn btn-success w-100') }}
          <a class="btn btn-outline-secondary w-100 mt-2" href="{{ url_for('auth.login') }}">Retour connexion</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

