{% extends "base.html" %}
{% block content %}
<h1 class="h4">Nouveau template</h1>
<div class="alert alert-secondary">Variables: {{'{{nom}}'}}, {{'{{prenoms}}'}}, {{'{{matricule}}'}}, {{'{{filiere}}'}}, {{'{{niveau}}'}}, {{'{{promotion}}'}}, {{'{{destination_country}}'}}, {{'{{entity}}'}}, {{'{{school}}'}}, {{'{{lien_rdv}}'}}, {{'{{event_date}}'}}, {{'{{event_address}}'}}, {{'{{event_phone}}'}}, {{'{{representative_name}}'}}.</div>
<form method="post">{{ form.hidden_tag() }}
<div class="mb-3">{{ form.name.label(class_='form-label') }}{{ form.name(class_='form-control') }}</div>
<div class="mb-3">{{ form.subject.label(class_='form-label') }}{{ form.subject(class_='form-control') }}</div>
<div class="mb-3">{{ form.body_html.label(class_='form-label') }}{{ form.body_html(class_='form-control', rows=8) }}</div>
<div class="mb-3">{{ form.body_text.label(class_='form-label') }}{{ form.body_text(class_='form-control', rows=4) }}</div>
{{ form.submit(class_='btn btn-primary') }}
</form>
{% endblock %}

